@import "tailwindcss";

@theme {
  --animate-wiggle: wiggle 2s ease-in-out 50ms infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(0) scale(1.15);
    }
    25% {
      transform: rotate(-3deg) scale(1.5);
    }
    50% {
      transform: rotate(3deg) scale(1.5);
    }
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: lightblue;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


@keyframes pan-image {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

body.animated-background {
  background-image: url('/landscape-cartoon-scene-with-green-trees-on-hills-and-white-fluffy-cloud-in-summer-blue-sky-background-vector.jpg');
  animation: pan-image 50s linear infinite alternate;

  @apply bg-cover bg-no-repeat overflow-clip;
}


.menu-container {
  @apply min-h-screen flex flex-col items-center justify-center p-4 text-center text-5xl;
}

.menu-buttons {
  @apply flex-col grid grid-cols-1 gap-20 mt-8 w-full max-w-md;
}

/* for both <button> and <Link> elements.*/
.menu-button {
  @apply block rounded-lg border border-teal-950 px-6 py-3
  font-semibold text-white no-underline
  bg-[#1a1a1a] cursor-pointer transition-colors
  hover:border-[#646cff]
  focus:outline-none focus-visible:ring-4 focus-visible:ring-blue-500/50;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
